*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "monospace";

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ACCBE1;
    
    color: #3c2f2f;
    line-height: 1.7;
    margin: 0;
    
}
#header{
    
    top: 0;
    left: 0;
    width: 100%;
    
    padding: 20px 50px;
    background: #637081;
    display: flex;
    justify-content: space-between;
    
}
.navigation a{
    position: relative;
    font-size: 2em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation .btnlogin-popup{
    width: 200px;
    height: 70px;
    background: transparent;
    border: 2px solid #fff;
    color: white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 2em;;
    margin-left: 15px;
    margin-top:10px;

    
}



.navigation .btncart-popup{
     width: 100px;
    height: 70px;
    background: transparent;
    border: 2px solid #fff;
    color: white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 2em;;
    margin-left: 15px;
    margin-top:15px;
    transition: .5s;
}

.buttonimage{
    width: 34px;
    height: 34px;
    
}

#logo{
    width: 100px;
    height: 100px;
    
}
.footer{
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 20px 50px;
    background: #637081;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
}    
.motto{
    margin-top:15px;
}
.navigationfooter a{
     position: relative;
    font-size: 2em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

/* Zoekbalk container styling */
#search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.search-form {
    position: relative; /* Zorg ervoor dat de knop absoluut binnen de container kan worden geplaatst */
    width: 100%;
    max-width: 400px; /* Stel een maximale breedte in voor de zoekbalk */
}

/* Tekstvak styling */
.search-input {
    width: 100%;
    padding: 10px;
    padding-right: 50px; /* Zorg voor ruimte voor de knop */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Zoekknop styling */
.search-button {
    position: absolute; /* Plaats de knop absoluut binnen de container */
    top: 50%; /* Centreer de knop verticaal */
    right: 10px; /* Plaats de knop aan de rechterkant van het tekstvak */
    transform: translateY(-50%);
    background-color: #219cda;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-button img {
    width: 20px;
    height: 20px;
}

.search-button:hover {
    background-color: #30d1dc;
    transform: scale(1.05);
}

.search-button:focus {
    outline: none;
    box-shadow: 0 0 5px #35c4eb;
}