body{
    background-color: #ACCBE1;
    font-family: "Garamond", serif;
    color: #3c2f2f;
    line-height: 1.7;
    margin: 0;; 
}

#container{
    background: url('parchment-texture.jpg') repeat;
    padding: 2em;
    position: relative;
    z-index: 1;
   padding-top: 170px;
    border: 4px double #8b5e3c;
    background-color: #f0f8ff;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    max-width: 800px;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-self: center;
   
    
    
}
#button{
    color: blue;
}
#label{
    font-size: 20px;
}
#wachtwoordcheck{
    color: red;
}
#Usercheck{
    color: red;
}
#header{
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: #637081;
}

#back{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 30px;
    color: white;
a{
    color: white;
}
    margin-top: 25px;
    width: 7.5%;
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center;     /* Vertical center */
               /* Set a height */
}

#logo{
    width: 100px;
    height: 100px;
    
    margin-left: 10px;
}
#otherlinks{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
    
    margin-top: 20px;
}
#inlognaam{
    background-color: #7C98B3;
    border:groove black 4px;
    height: 40px;
    width: 300px;
    
}
#wachtwoord{
    background-color: #7C98B3;
    border:ridge black 4px;
    height: 40px;
    width: 300px;
    
}
#login{
    border: inset black 4px;
}
#footer{
     display: flex;
    flex-direction: row;
    text-align: center;
    height: 55px;
    width: 100%;
    color: white;
    background-color: #637081;  
}
#Footerlinks{
     position: absolute;
    top: 740px;
    right: 16px;
    font-size: 30px;
    
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ACCBE1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #859cad;
  position: absolute;
    top: 10px;
    right: 1px;
    font-size: 30px;
    height:70px;
}

.button:hover {background-color: #87aac4}

.button:active {
  background-color: #87aac4;
  box-shadow: 0 5px #859cad;
  transform: translateY(4px);
}