
.parchment {
    background: url('parchment-texture.jpg') repeat;
    padding: 2em;
    
    margin-top: 200px;
    
   
    border: 4px double #8b5e3c;
    background-color: #c4dff5;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    max-width: 800px;
    
    margin-bottom: 20px;
   
}

h1, h2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #5b3924;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    text-shadow: 1px 1px #ddd;
}

h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
    border-bottom: 1px solid #c9b79c;
    padding-bottom: 0.2em;
}

ul {
    list-style: square inside;
    margin-left: 0;
    padding-left: 1em;
}

p em {
    font-style: italic;
    color: #7a6248;
}
