body {
    background-color: #ACCBE1;
    font-family: "Garamond", serif;
    color: #3c2f2f;
    line-height: 1.7;
    margin: 0;
    
}
 #header{
    
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: #637081;
    
    
}
#logo{
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.parchment {
    background: url('parchment-texture.jpg') repeat;
    padding: 2em;
    position: relative;
    z-index: 1;
   padding-top: 170px;
    border: 4px double #8b5e3c;
    background-color: #f0f8ff;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    max-width: 800px;
    margin:auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1, h2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #5b3924;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    text-shadow: 1px 1px #ddd;
}

h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
    border-bottom: 1px solid #c9b79c;
    padding-bottom: 0.2em;
}

ul {
    list-style: square inside;
    margin-left: 0;
    padding-left: 1em;
}

p em {
    font-style: italic;
    color: #7a6248;
}
#footer{
     display: flex;
    flex-direction: row;
    text-align: center;
    height: 55px;
    width: 100%;
    color: white;
    background-color: #637081;  
}
#Footerlinks{
     position: absolute;
    top: 2295px;
    right: 16px;
    font-size: 30px;
    a{
        color: white;
        text-decoration: none;
    }
    
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ACCBE1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #859cad;
  position: absolute;
    top: 10px;
    right: 1px;
    font-size: 30px;
    height:70px;
}

.button:hover {background-color: #87aac4}

.button:active {
  background-color: #87aac4;
  box-shadow: 0 5px #859cad;
  transform: translateY(4px);
}