#footer{
    display: flex;
   flex-direction: row;
   text-align: center;
   height: 55px;
   width: 100%;
   color: white;
   background-color: #637081;  
}
#Footerlinks{
    position: absolute;
   top: 2295px;
   right: 16px;
   font-size: 30px;
   color: white;
   text-decoration: none;
   
}