

#header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 30px;
    background-color: #637081;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#logo{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

#sidebar_button{
    border: none;
    background-color: transparent;
}

#sidebar_button:hover {
    background-color: #d0d0d0; /* Change to a light color on hover */
    cursor: pointer;
}

#sidebar_icon{
    width: 40px;
    height: 40px;
}

#search_form {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    width: 300px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#search_form input[type="text"] {
    flex: 1;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}

.search-bar button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    border-left: 1px solid #ccc;
}

.search-bar button:hover {
    background-color: #45a049;
}

#search_icon{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    border-radius: 10px;
    border: rgb(255, 255, 255) 0px;
    background-color: transparent;
}

#search_icon_image {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

#search_icon_image:hover {
    background-color: #c7c7c7;
}

#cart{
    width: 40px;
    height: 40px;
}